asgiref==3.7.2
attrs==23.1.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.5
decouple==0.0.7
distlib==0.3.7
Django==4.2.7
django-crispy-forms==2.1
django-filter==23.3
djangorestframework==3.14.0
filelock==3.13.1
idna==3.4
jsonify==0.5
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
numpy==1.26.1
pandas==2.1.2
platformdirs==3.11.0
pycparser==2.21
PyMySQL==1.1.0
pyproject-toml==0.0.10
python-dateutil==2.8.2
pytz==2023.3.post1
referencing==0.30.2
regex==2023.10.3
requests==2.31.0
rpds-py==0.12.0
setuptools==68.2.2
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
toml==0.10.2
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.7
virtualenv==20.24.6
wheel==0.41.3